@charset "utf-8";
 
/* Reset */
* {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
html, body {width:100%; height:100%; }
body {background-image: linear-gradient(120deg, #fdfbfb 0%, #f5f2f9 100%);}
body, th, td, input, select, textarea, button {font-family:'Noto Sans KR','Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif; color:#666; font-size:13px; letter-spacing:-.02em; line-height:1.5; font-weight:400;}
html, div, body, span, article, canvas, img, header, footer, section, blockquote, hr, p, h1, h2, h3, h4, h5, h6, ol, dl, dt, dd, table, th, tr, td, form, fieldset, legend, input, textarea, button, nav {margin:0; padding:0; border:0; outline:0; vertical-align:middle; -webkit-margin-before:0; -webkit-margin-after:0;}
html {scroll-behavior: smooth !important;}
h1, h2, h3, h4, h5, h6 {font-weight:bold;}	
a {cursor:pointer;}
a, a:hover {text-decoration:none;}	 
img {border:none; margin:0; padding:0;}
blockquote {font-weight: bold; margin:0; padding:0;}
ul,li {list-style:none outside none; margin:0; padding:0;}
ol li {list-style:decimal; list-style-position:inside;}	
address {font-style:normal;}	
section, nav, article, aside, hgroup, footer,header {display:block;}

input, textarea, select,button,table {font-size:inherit; font-family:inherit; line-height:inherit;}
button {cursor:pointer; overflow:visible;}
button, select {text-transform:none;}
textarea, input, select {background:none; -webkit-apprearance:none;}
textarea {resize:none;}
label {cursor:pointer;}
legend, caption {display:none; clear:both;}
fieldset {border:none;}
i {font-style:normal;}


/* Aside */
.layout_left {background-color:#fff; width:230px; position:fixed; height:100%; top:0px; left:0px; box-shadow:2px 2px 2px rgba(30,30,30,0.15); z-index:10;}
.layout_left.collapsed {overflow:visible !important; position:fixed; bottom:0px;}
.layout_left.lg {width:250px;}
.layout_left.lg + .content {margin-left:250px;}

/* Logo */
.logo {line-height:40px; background-color:#41b2c2;}
.logo a:hover {text-decoration:none;}
.logo_img {display:block; margin:8px auto 0 auto; text-indent:-9999px; text-align:center} 
.logo-expanded {line-height:48px; font-size: 22px; font-weight:bold; color:#fff !important; text-transform:uppercase; display:block; padding-left:25px;}
.logo-expanded span {}
.profile {background-color:#e7e3f1;}
.profile .user_info {color:#666; font-size:13px; font-weight:bold; padding:3px 25px; display:block;}

/* Content Area (right) */
.content {margin-left:230px; padding-bottom:50px;}
.content .container-fluid {padding:25px; margin-right:auto; margin-left:auto;}
.container:after,.container-fluid:after {clear:both;}
.content {min-width:1100px;}

/* Top Header */    
.top_head {
background-image: linear-gradient(15deg, #3d3393 0%, #2b76b9 37%, #41b2c2 65%, #00c566 100%);
padding:8px 25px; margin-right:auto; margin-left:auto; position:relative;}
.top_head .title_info {color:#fff; font-size:20px; line-height:34px; display: inline-block; font-weight:normal;}
.top_head .title_info::-moz-selection {color:#1d84df; background:#fff;}
.top_head .title_info::selection {color:#1d84df; background:#fff;}
.top_head .title_info + .btn {margin-left:10px; min-width:100px; border-radius:2px;}
.top_head .title_info + .btn:hover {background-color:rgba(255,255,255,0.85); transition:all 0.4s; -moz-transition:all 0.4s; -webkit-transition:all 0.4s; -o-transition:all 0.4s;}
.top_head .title_info + .menual {height:35px; float:right; color:#fff; border-color:#fff;}
.top_head .title_info + .menual:hover {background-color:transparent;}
.top_head .title_info + .search_area + .menual {color:#fff; border-color:#fff; margin-right:80px; height:35px; float:right;}
.top_head .title_info + .search_area + .menual:hover {color:#fff;}

/* Navigation */
.navigation {overflow-y: auto; height: calc(100% - 172px);}
.navigation > ul > li {position:relative;}
.navigation > ul > li.has-submenu:first-child > a,.navigation > ul > li.has-submenu:first-child > .list_title {border-top:none;} 
.navigation > ul > li a > .nav-label + i,.navigation > ul > li .list_title .nav-label + i {float:right; color:#ccc; text-align:right; font-size:15px; display: none; margin-top:8px;} 
.navigation > ul > li.active.has-submenu:after,.navigation > ul > li.has-submenu:hover:after {color: #fff;}
.navigation > ul > li > a,.navigation > ul > li > .list_title {display:block; padding:7px 25px; color:#222; font-size:15px; font-weight:bold; text-decoration:none; outline:none !important; border-top:1px dotted #e7e3f1; margin-top:-1px;} 
.navigation > ul > li > a:hover {color:#2f80ba; background-color:#fdfdfd; transition:all 0.2s; -moz-transition:all 0.2s; -webkit-transition:all 0.2s; -o-transition: all 0.2s;}
.navigation > ul > li.profile > a:hover {color:#fff; background-color:#41b2c2; transition:all 0.4s; -moz-transition:all 0.4s; -webkit-transition:all 0.4s; -o-transition: all 0.4s;}
.navigation > ul > li.profile > a:hover .ar_smB { background-position:-168px -11px;}
.navigation > ul > li.active:hover > a,.navigation > ul > li.active > a,.navigation > ul > li.active .list_title {color:#2f80ba;  border-left:6px solid #2f80ba;}
.navigation > ul > li.active:hover .ar_smB,.navigation > ul > li.active .ar_smB {background-position:-157px 0;}
.navigation > ul > li.profile.active:hover > a,.navigation > ul > li.profile.active > a {color:#fff; background-color:#41b2c2; border-left:none;}
.navigation > ul > li.profile.active:hover .user_g,.navigation > ul > li.profile.active .user_g { background-position:-22px 0;}
.navigation > ul > li.profile.active:hover .ar_smB,.navigation > ul > li.profile.active .ar_smB { background-position:-157px -11px;}
.navigation ul li a i + span + i {margin-top:8px; font-size:18px;}
.navigation ul li a .nav-label {vertical-align:middle;}

/* Sub Menu */
.navigation ul li ul {display:block; padding-bottom:10px; border-bottom:1px dotted #e7e3f1;}
aside:not(.collapsed) .navigation ul li.active ul {display:block;}
.navigation ul li ul li {position:relative;}
.navigation ul li ul li a {padding:3px 30px 3px 30px; color:#555; text-decoration:none; white-space:nowrap; transition:all 0.2s; -moz-transition:all 0.2s; -webkit-transition:all 0.2s; -o-transition:all 0.2s; font-size:13px; border-left:0px solid #75798b; text-align:left; display:block; outline:none !important;}
.navigation ul li ul li a:hover,.navigation ul li ul li.active a {color:#444; padding-left:40px; font-weight:bold;}
.navigation ul li ul li a:hover {color:#2b76b9 ;}
.navigation ul li ul li.active a {color:#41b2c2 ;}
.navigation ul li ul li a:before {content:'-'; display:inline-block; padding-right:5px;}
.navigation ul li ul li.active a:before {content:'';  width: 0px;height: 0px; border-top:4px solid transparent; border-bottom:4px solid transparent; border-right: 4px solid none;  border-left: 4px solid #41b2c2; border-radius:2px;}
.navigation ul li ul li a i {position:absolute; font-size:14px; top:4px; right:15px; padding:8px; margin-right:0;}
.navigation ul li.profile ul li a i {left:28px; font-size:17px; top:0px;}