.card {
    width: 100%;
    min-height: 340px;
    padding: 20px;
    background: #fff;
    margin-bottom: 10px;
    box-shadow: 2px 2px 7px rgb(234 234 243);
}

.card.h_auto {
    min-height: auto;
}

.card.tit{padding:0; background:#fff;}

.card.tit .tab_cont.tp4{max-height:101px; overflow-y:auto; padding:8px 20px 8px;}

.card_head {
    border-bottom: 1px solid #f0f0f0;
    color: #444;
}
