<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="businessDao">
	<resultMap id="businessListMap" type="com.example.snowball.business.service.vo.BusinessVo">
	    <result column="uid" 			property="uid"/>
	    <result column="corp_code" 		property="corpCode"/>
	    <result column="year" 			property="year"/>
	    <result column="report_type" 	property="reportType"/>
	</resultMap>

    <select id="list" resultMap="businessListMap">
		SELECT uid
		     , corp_code
		     , year
		     , report_type
		  FROM snowball.tbl_business_content
    </select>
</mapper>
 