<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.example.snowball.business.service.vo.BusinessVo" alias="businessVo"/>
		<typeAlias type="com.example.snowball.business.service.vo.BusinessSearchVo" alias="businessSearchVo"/>
		<typeAlias type="com.example.snowball.corp.service.vo.CorpVo" alias="corpVo"/>
		<typeAlias type="com.example.snowball.corp.service.vo.CorpSearchVo" alias="corpSearchVo"/>
	</typeAliases>
</configuration>