<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<aside class="layout_left" th:fragment="fragLeft">
		<div class="logo">
			<a href="/main/main" class="logo-expanded">
				<span class="nav-label">Snowball</span>
			</a>
		</div>

		<nav class="navigation">
			<ul class="list-unstyled">
				<li class="has-submenu profile" id="myMenu">
					<div class="user_info">
						<i class="icon user_g"></i>
						<span class="user_name">발명일반1</span>
						<span class="nav-label">(test1_1)</span>
					</div>
					<ul class="list-unstyled" id="subMenu" style="display:none">
						<li><a href="/service/logout.wips">로그아웃</a></li>
					</ul>
				</li>
			</ul>
		
			<ul class="list-unstyled ls_sub01">
				<li class="has-submenu ">
					<a href="#" class="list_title grpMenu" openyn=""><span class="nav-label">Scheduler</span><i class="icon ar_smB"></i> </a>
					<ul class="list-unstyled grpMenuSub">
						<li class="">								
							<a href="/service/schedule/my.wips">My</a>
						</li>
					
						<li class="">								
							<a href="/service/schedule/grp.wips">그룹</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</aside>
</html>

