<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head th:fragment="fragHead">
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/dashboard.css" rel="stylesheet">
		<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>
		
		<!-- 공통적인 css -->
	<!-- 	<link rel="stylesheet" href="/css/common.css" /> -->
	
		<!-- 개별적인 css -->
		<!-- <th:block layout:fragment="css"></th:block> -->
	</head>
</html>
