<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head th:fragment="fragHead">
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>
		
		<!-- 공통적인 css -->
		<link href="/css/common.css" rel="stylesheet">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/dashboard.css" rel="stylesheet">
	
		<!-- 공통적인 js -->
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap/bootstrap.js"></script>
		<script type="text/javascript" src="/js/common.js"></script>
		<!-- 개별적인 css -->
		<th:block layout:fragment="css"></th:block>
		
		<!-- 개별적인 js -->
		<th:block layout:fragment="js"></th:block> 
	</head>
</html>
