<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<!-- [head] 영역 시작 -->
	<head th:replace="layout/fragHead :: fragHead">
		<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">default</title>
	</head>
	<!-- [head] 영역 끝 -->

	<body>
		<!-- [Top] 영역 시작 --> 
		<nav th:replace="layout/fragTop :: fragTop"></nav>
		<!-- [Top] 영역 끝 -->
		
		<div class="container-fluid">
			<div class="row">
				<!-- [left] 영역 시작 -->
				<!-- <aside th:replace="layout/fragLeft :: fragLeft"></aside> -->
				<div th:replace="layout/fragLeft :: fragLeft"></div>
				<!-- [left] 영역 끝 -->
				
				<!-- [content] 영역 시작 -->
				<div layout:fragment="content"></div>
				<!-- [content] 영역 끝 -->
			</div>
		</div>
	</body>
</html>
