<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/layoutDefault">

	<head>
	    <title>업계의현황 비교</title>
	</head>
	
	<!-- 페이지의 개별적인 css -->
	<th:block layout:fragment="css">
		<style>
			ins {
			    text-decoration: none;
			    background-color: #d4fcbc;
			}
			
			del {
			    text-decoration: line-through;
			    background-color: #fbb6c2;
			    color: #555;
			}
		</style>
		<!-- <link rel="stylesheet" href="css/temp.css" /> -->
	</th:block>
	
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" layout:fragment="content">
       	<div class="row">
	       	<div class="col-lg-3">
	       		<div style="margin-bottom: 20px; margin-left: 15px;">
		       		<div class="input-group">
				      	<input type="text" class="form-control" placeholder="Search for...">
				    </div>
				</div>
	       	</div>
       	</div>
       	<div class="row">
       		<div id="divLeftCompResult" class="col-lg-6">
       		</div>
       		<div id="divRightCompResult" class="col-lg-6">
       		</div>
       	</div>
       	<div class="col-lg-6">
			<div class="card tit h_auto">
				<div class="tab_cont tp4 card_head"> <!-- 연도 틀 -->
					<div id="divLeftYear" class="btn-group btn-group-sm" role="group" aria-label="Basic example" type="L">
      					<button type="button" class="btn btn-default">2021</button>
					    <button type="button" class="btn btn-default">2020</button>
					    <button type="button" class="btn btn-default">2019</button>
					</div>
				</div>
				<div class="tab_cont tp4"> <!-- 보고서 틀 -->
					<div id="divLeftReportType" class="btn-group btn-group-sm" role="group" aria-label="Basic example" type="L">
      					<button type="button" class="btn btn-default">1분기</button>
					    <button type="button" class="btn btn-default">반기</button>
					    <button type="button" class="btn btn-default">3분기</button>
					    <button type="button" class="btn btn-default">사업</button>
					</div>
				</div>
			</div>
			<div id="divLeftContent" class="card">
				사업의내용
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card tit h_auto">
				<div class="tab_cont tp4 card_head">
					<div id="divRightYear" class="btn-group btn-group-sm" role="group" aria-label="Basic example" type="R">
      					<button type="button" class="btn btn-default">2021</button>
					    <button type="button" class="btn btn-default">2020</button>
					    <button type="button" class="btn btn-default">2019</button>
					</div>
				</div>
				<div class="tab_cont tp4">
					<div id="divRightReportType" class="btn-group btn-group-sm" role="group" aria-label="Basic example" type="R">
      					<button type="button" class="btn btn-default">1분기</button>
					    <button type="button" class="btn btn-default">반기</button>
					    <button type="button" class="btn btn-default">3분기</button>
					    <button type="button" class="btn btn-default">사업</button>
					</div>
				</div>
			</div>
			<div id="divRightContent" class="card">
				사업의내용
			</div>
		</div>
		
		<form id="frmAjax" method="POST">
		</form>
	</div>
	
	<!-- 페이지의 개별적인 js -->
	<th:block layout:fragment="js">
		<script type="text/javascript">
		$(document).ready(function() {
			fnInit();
			fnInitEvent();
		});

		function fnInit() {
			fnGetContentYearList();
		}

		function fnInitEvent() {
			$('#divLeftYear').on('click', '.contentYear', fnOnClickContentYear);
			$('#divRightYear').on('click', '.contentYear', fnOnClickContentYear);
			$('#divLeftReportType').on('click', '.reportType', fnOnClickReportType);
			$('#divRightReportType').on('click', '.reportType', fnOnClickReportType);
		} 
		
		function fnGetContentYearList() {
			$('.frmAjax').remove();
			addFormData('frmAjax', 'corpCode', '004250');

			$.ajax({
				type: 'POST',
				url: getContextPath() + '/getContentYearList',
				data : $('#frmAjax').serialize(),
				dataType: 'json',
				success: function(data) {
					var contentYearList = data.contentYearList;
					var htmlArray = [];

					for(var i = 0, length = contentYearList.length; i < length; i++) {
						var year = contentYearList[i].year;
						htmlArray.push('<button type="button" class="btn btn-default contentYear" year=' + year + '>' + year + '</button>');
					}
					
					$('#divLeftYear').html(htmlArray.join(''));
					$('#divRightYear').html(htmlArray.join(''));
					
					$('#divLeftYear').find('.contentYear').eq(0).trigger('click');
					$('#divRightYear').find('.contentYear').eq(0).trigger('click');
				},
				error : function(x, error) {
					alert("서버통신 중 오류가 발생하였습니다.");
					console.log(x);
				}
			});
		}

		function fnOnClickContentYear() {
			var $this = $(this);
			var $parentDiv = $this.closest('div'); 
			$parentDiv.find('.contentYear').removeClass('active');
			$this.addClass('active');

			$('.frmAjax').remove();
			addFormData('frmAjax', 'corpCode', '004250');
			addFormData('frmAjax', 'year', $this.attr('year'));

			$.ajax({
				type: 'POST',
				url: getContextPath() + '/getReportTypeList',
				data : $('#frmAjax').serialize(),
				dataType: 'json',
				success: function(data) {
					var reportTypeList = data.reportTypeList;
					var htmlArray = [];

					for(var i = 0, length = reportTypeList.length; i < length; i++) {
						var reportType = reportTypeList[i];
						htmlArray.push('<button type="button" class="btn btn-default reportType" uid=' + reportType.uid + '>' + reportType.reportTypeNm + '</button>');
					}

					if($parentDiv.attr('type') == 'L') {
						$('#divLeftReportType').html(htmlArray.join(''));
					} else {
						$('#divRightReportType').html(htmlArray.join(''));
					}
				},
				error : function(x, error) {
					alert("서버통신 중 오류가 발생하였습니다.");
					console.log(x);
				}
			});
		}

		function fnOnClickReportType() {
			var $this = $(this);
			var $parentDiv = $this.closest('div'); 
			$parentDiv.find('.reportType').removeClass('active');
			$this.addClass('active');

			$('.frmAjax').remove();
			addFormData('frmAjax', 'uid', $this.attr('uid'));
			
			$.ajax({
				type: 'POST',
				url: getContextPath() + '/getContent',
				data : $('#frmAjax').serialize(),
				dataType: 'json',
				success: function(data) {
					if($parentDiv.attr('type') == 'L') {
						$('#divLeftContent').html(data.content);
						//var compResult = diffString($('#divLeftContent').html(), $('#divRightContent').html());
						var compResult = htmldiff($('#divLeftContent').html(), $('#divRightContent').html());
						$('#divLeftCompResult').html(compResult);						
					} else {
						$('#divRightContent').html(data.content);
						
						
						//var compResult = diffString($('#divLeftContent').html(), $('#divRightContent').html());
						var compResult = htmldiff($('#divLeftContent').html(), $('#divRightContent').html());
						$('#divRightCompResult').html(compResult);
					}
					
					//var compResult = diffString2($('#divLeftContent').text(), $('#divRightContent').text());
					
					//$('#divLeftCompResult').html(compResult.n);
					//$('#divRightCompResult').html(compResult.o);
				},
				error : function(x, error) {
					alert("서버통신 중 오류가 발생하였습니다.");
					console.log(x);
				}
			});
		}
		</script>
	</th:block>
</html>